.bg-image {
  position: fixed;
  width: 100%;
  height: 100%;
  background: url("../../../assets/img/bg.3e86f279.jpg");
}

.container {
  position: relative;
  z-index: 2;
  width: 100%;
  max-width: 800px;
  margin: auto;
  box-shadow: 1px 1px 8px rgba(0, 0, 0, .15);
  background: #ffffff;
  padding-top: 1rem;

  .card {
    padding-top: 1rem;
    padding-bottom: 1rem;

    .card-title {
      border-left: 5px solid #1976d2;
      padding-left: 1rem;
    }

    .card-content {
      background: #f5f5f5;
      display: flex;
      flex: 1;
      margin: 1rem;
      padding: .75rem 1rem;
      font-size: .875rem;
      border-radius: 4px;
      flex-direction: column;


      ul {
        list-style: none;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        margin-top: 0;
        margin-bottom: 0;

        .fill-full {
          width: 100%;
        }

        li {
          width: 50%;
          padding: .5rem 0;

          span {
            margin: 0 .25rem;
          }
        }

        .link {
          color: #666;
          text-decoration: none;
          transition: all 200ms;


          &:hover {
            color: #333;
          }
        }
      }
    }
  }
}
