<div class="bg-image"></div>
<div class="container">
  <div class="card">
    <div class="card-title">
      <h3>个人信息</h3>
    </div>
    <div class="card-content">
      <ul>
        <li>
          <a>● <span>何志坚</span>| <span>男</span> | <span>23</span></a>
        </li>
        <li>
          <a>● <span>吉首大学</span>| <span>2020年毕业</span> | <span>本科</span></a>
        </li>
        <li>
          <a>● <span>Tel: 15274457486</span></a>
        </li>
        <li>
          <a>● <span>Email: 1305696249@qq.com</span></a>
        </li>
        <li>
          <a>● <span>技术博客: <a class="link" routerLink="/blog/hzjangel">123.57.226.35:4200/blog/hzjangel</a></span></a>
        </li>
        <li>
          <a>● <span>Github: <a class="link" target="_blank" href="https://github.com/hzjanger">https://github.com/hzjanger</a></span></a>
        </li>
      </ul>
    </div>
  </div>
  <div class="card">
    <div class="card-title">
      <h3>技术水平</h3>
    </div>
    <div class="card-content">
      <ul>
        <li class="fill-full" *ngFor="let skill of skillLevel">
          <a>● <span>{{skill}}</span></a>
        </li>
      </ul>
    </div>
  </div>
  <div class="card">
    <div class="card-title">
      <h3>项目经验</h3>
    </div>
    <div class="card-content">
      <h3>个人博客</h3>
      <ul>
        <li class="fill-full" *ngFor="let description of blogDescriptions">
          <a>● <span>{{description}}</span></a>
        </li>
      </ul>
      <h3>使用技术</h3>
      <ul>
        <li class="fill-full">
          <a>● <span>Angular， Material, Editor.md, Echarts，腾讯防水墙</span></a>
        </li>
      </ul>
    </div>
    <div class="card-content">
      <h3>视频文件管理</h3>
      <ul>
        <li class="fill-full">
          <a>● <span>基本的视频播放功能， 快进， 后退， 暂停， 进度条拖动</span></a>
        </li>
        <li class="fill-full">
          <a>● <span>视频上传</span></a>
        </li>
        <li class="fill-full">
          <a>● <span>观看视频提醒</span></a>
        </li>
      </ul>
      <h3>使用技术</h3>
      <ul>
        <li class="fill-full">
          <a>● <span>Angular， Material， Spring Boot， MyBatis, OSS， videogular2</span></a>
        </li>
      </ul>
    </div>
  </div>
  <div class="card">
    <div class="card-title">
      <h3>校内经历</h3>
    </div>
    <div class="card-content">
      <ul>
        <li class="fill-full">
          <a>● <span>第九届蓝桥杯软件类省赛二等奖</span></a>
        </li>
        <li class="fill-full">
          <a>● <span>第十届软件服务外包创新创业大赛三等奖 (赛题:【A01】 2018 网络零售平台
商品分类【浪潮】 )</span></a>
        </li>
        <li class="fill-full">
          <a>● <span>软件设计师中级</span></a>
        </li>
      </ul>
    </div>
  </div>
</div>
