<div class="bg-image"></div>
<div class="container">
  <div class="card">
    <div class="card-title">
      <h3>个人信息</h3>
    </div>
    <div class="card-content">
      <ul>
        <li>
          <a>● <span>何志坚</span>| <span>男</span> | <span>23</span></a>
        </li>
        <li>
          <a>● <span>吉首大学</span>| <span>2020年毕业</span> | <span>本科</span></a>
        </li>
        <li>
          <a>● <span>Tel: 15274457486</span></a>
        </li>
        <li>
          <a>● <span>Email: 1305696249@qq.com</span></a>
        </li>
        <li>
          <a>● <span>技术博客: <a class="link" routerLink="/blog/hzjangel">123.57.226.35:4200/blog/hzjangel</a></span></a>
        </li>
        <li>
          <a>● <span>Github: <a class="link" target="_blank" href="https://github.com/hzjanger">https://github.com/hzjanger</a></span></a>
        </li>
      </ul>
    </div>
  </div>
  <div class="card">
    <div class="card-title">
      <h3>技术水平</h3>
    </div>
    <div class="card-content">
      <ul>
        <li class="fill-full">
          <a>● <span>热爱编程，比较扎实的前端基础， 掌握 Typescript， HTML、 CSS、 ES6，有
良好的编程习惯和代码风格</span></a>
        </li>
        <li class="fill-full">
          <a>● <span>熟悉 Angular 前端框架， 熟练使用 Scss 预处理器， 使用 Material、 Ng-Zorro
等前端组件库</span></a>
        </li>
        <li class="fill-full">
          <a>● <span>了解 Webpack 前端打包工具，熟悉版本控制工具 Git</span></a>
        </li>
        <li class="fill-full">
          <a>● <span>熟悉 http 协议，了解 java 等后端语言，能够与后端同事配合完成工作</span></a>
        </li>
        <li class="fill-full">
          <a>● <span>熟悉 Echarts 可视化库</span></a>
        </li>
      </ul>
    </div>
  </div>
  <div class="card">
    <div class="card-title">
      <h3>项目经验</h3>
    </div>
    <div class="card-content">
      <h3>个人博客</h3>
      <ul>
        <li class="fill-full">
          <a>● <span>转义 Markdown 语法中的非代码部分中的代码,防止 XSS 攻击</span></a>
        </li>
        <li class="fill-full">
          <a>● <span>借助腾讯防水墙在使用邮箱注册时实现人机验证</span></a>
        </li>
        <li class="fill-full">
          <a>● <span>通过 Echarts 实现博客标签的词云图</span></a>
        </li>
        <li class="fill-full">
          <a>● <span>使用 Editor.md 实现 markdown 语法的编写</span></a>
        </li>
        <li class="fill-full">
          <a>● <span>基本的博客功能，包括文章、搜索、分类、归档、标签管理、 文章导出等</span></a>
        </li>
        <li class="fill-full">
          <a>● <span>使用 Material 组件库进行 UI 界面的编写， 实现 Material Design 风格</span></a>
        </li>
      </ul>
      <h3>使用技术</h3>
      <ul>
        <li class="fill-full">
          <a>● <span>Angular， Material, Editor.md, Echarts，腾讯防水墙</span></a>
        </li>
      </ul>
    </div>
    <div class="card-content">
      <h3>视频文件管理</h3>
      <ul>
        <li class="fill-full">
          <a>● <span>基本的视频播放功能， 快进， 后退， 暂停， 进度条拖动</span></a>
        </li>
        <li class="fill-full">
          <a>● <span>视频上传</span></a>
        </li>
        <li class="fill-full">
          <a>● <span>观看视频提醒</span></a>
        </li>
      </ul>
      <h3>使用技术</h3>
      <ul>
        <li class="fill-full">
          <a>● <span>Angular， Material， Spring Boot， MyBatis, OSS， videogular2</span></a>
        </li>
      </ul>
    </div>
  </div>
  <div class="card">
    <div class="card-title">
      <h3>校内经历</h3>
    </div>
    <div class="card-content">
      <ul>
        <li class="fill-full">
          <a>● <span>第九届蓝桥杯软件类省赛二等奖</span></a>
        </li>
        <li class="fill-full">
          <a>● <span>第十届软件服务外包创新创业大赛三等奖 (赛题:【A01】 2018 网络零售平台
商品分类【浪潮】 )</span></a>
        </li>
        <li class="fill-full">
          <a>● <span>软件设计师中级</span></a>
        </li>
      </ul>
    </div>
  </div>
</div>
