.responsive-container {
  width: 100%;
  min-height: 100vh;
}

//mat-drawer {
//  border-right: none;
//}

.mat-drawer-container {
  background-color: #fff;
}

.sidenav {
  width: 232px;
  display: flex;
}

