<div class="container">
  <ng-template [ngIf]="pageResult">
    <article *ngFor="let article of pageResult.rows">
      <h3 class="article-title">
        <a [routerLink]="['/admin/article/edit', article.id]">{{article.title}}</a>
      </h3>
      <div class="article-action">
        <div class="action-left">
          <a>
            <mat-icon>alarm</mat-icon>
            <span>{{article.updateDate | date : 'yyyy-MM-dd HH:ss:mm'}}</span>
          </a>
          <a>
            <mat-icon>label</mat-icon>
            类别
          </a>
          <a>
            <mat-icon>label</mat-icon>
            标签
          </a>
        </div>
        <div class="action-right">
          <a [routerLink]="['/admin/article/edit', article.id]">编辑</a>
          <a [routerLink]="['/index/article/details', nickName, article.id]">查看</a>
          <a (click)="deleteBlog(article)">删除</a>
        </div>
      </div>
    </article>
    <mat-paginator [length]="pageResult.total" [pageSize]="pageSize" [pageSizeOptions]="[5, 10, 25, 100]"
                   (page)="page($event)"></mat-paginator>
  </ng-template>
</div>
