<div class="container">
  <ng-template [ngIf]="pageResult">
    <article *ngFor="let item of pageResult.rows">
      <h3 class="article-title">
        <a [routerLink]="['/admin/article/edit', item.blog.id]">{{item.blog.title}}</a>
      </h3>
      <div class="article-action">
        <div class="action-left">
          <a>
            <mat-icon>alarm</mat-icon>
            <span>{{item.blog.updateDate | date : 'yyyy-MM-dd HH:ss:mm'}}</span>
          </a>
          <a>
            <mat-icon>label</mat-icon>
            {{item.blogType.typeName}}
          </a>
          <a>
            <mat-icon>label</mat-icon>
            {{item.tag.tagName}}
          </a>
        </div>
        <div class="action-right">
          <a [routerLink]="['/admin/article/edit', item.blog.id]">编辑</a>
          <a [routerLink]="['/article/details', nickName, item.blog.id]">查看</a>
          <a (click)="deleteBlog(item.blog)">删除</a>
        </div>
      </div>
    </article>
    <mat-paginator [length]="pageResult.total" [pageSize]="pageSize" [pageSizeOptions]="[5, 10, 25, 100]"
                   (page)="page($event)"></mat-paginator>
  </ng-template>
</div>
