mat-expansion-panel-header {
  max-height: 48px;
}

.title-text {
  padding-left: 2rem;
}

.mat-expansion-panel-spacing {
  margin: 0;
}

.mat-expansion-panel:not([class*=mat-elevation-z]) {
  box-shadow: none;
}

:host ::ng-deep {
  .mat-expansion-panel-body {
    padding: 0;
  }
}
