<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hzj.myblog.mapper.BlogTypeAccountMapper">
    <select id="findUserBlogTypeAccount" parameterType="java.lang.Integer"
            resultType="com.hzj.myblog.model.BlogTypeAccount">
        SELECT b.id, b.typeName, COUNT(*) as account
        FROM (SELECT blogTypeId FROM blog WHERE userId = #{userId}) as a inner join (SELECT id, typeName FROM blogType) as b
        on a.blogTypeId = b.id
        group by blogTypeId
    </select>
</mapper>