<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hzj.myblog.mapper.BlogMapper">

    <!--    添加博客-->
    <insert id="addBlog" useGeneratedKeys="true" keyProperty="id" parameterType="com.hzj.myblog.model.Blog">
        INSERT INTO blog(title, markdown, userId, blogTypeId, tagId, updateDate)
        VALUE (#{title}, #{markdown}, #{userId}, #{blogTypeId}, #{tagId}, #{updateDate})
    </insert>

    <!--    通过用户id查找博客-->
    <select id="findBlogByUserId" parameterType="java.lang.Integer" resultType="com.hzj.myblog.model.Blog">
        SELECT id, title, markdown, userId, blogTypeId, tagId, updateDate
        FROM blog
        WHERE userId = #{userId}
    </select>

    <resultMap id="blogAndTypeAndTagGroup" type="com.hzj.myblog.entity.group.BlogAndTypeAndTagGroup">
        <association property="blog" javaType="com.hzj.myblog.model.Blog">
            <id property="id" column="id"/>
            <result property="title" column="title"/>
            <result property="markdown" column="markdown"/>
            <result property="userId" column="userId"/>
            <result property="blogTypeId" column="blogTypeId"/>
            <result property="tagId" column="tagId"/>
            <result property="updateDate" column="updateDate"/>
        </association>
        <association property="blogType" javaType="com.hzj.myblog.model.BlogType">
            <id property="id" column="blogTypeId"/>
            <result property="typeName" column="typeName"/>
        </association>
        <association property="tag" javaType="com.hzj.myblog.model.Tag">
            <id property="id" column="tagId"/>
            <result property="tagName" column="tagName"/>
            <result property="blogTypeId" column="blogTypeId"/>
        </association>
    </resultMap>

    <!--    查询最新发布的博客-->
    <select id="searchUserBlog" resultMap="blogAndTypeAndTagGroup">
        SELECT e.id,e.title,e.markdown,e.userId,e.blogTypeId,e.tagId,e.updateDate,e.tagName,e.typeName
        FROM (SELECT c.id,c.title,c.markdown,c.userId,c.blogTypeId,c.tagId,c.updateDate,d.tagName,d.typeName
        FROM blog as c
        inner join (SELECT a.id as tagId, a.tagName, a.blogTypeId, b.typeName
        FROM tag as a
        inner join blogType as b on a.blogTypeId = b.id) as d on c.tagId = d.tagId
        WHERE c.userId = 6
        ORDER BY updateDate DESC) as e
        <where>
            <if test="blogType != null">
                typeName = #{blogType}
            </if>
            <if test="searchValue != null">
                AND title LIKE CONCAT('%',#{searchValue}, '%')
            </if>
        </where>
    </select>

    <!--    更新博客信息-->
    <update id="updateBlog" parameterType="com.hzj.myblog.model.Blog">
        UPDATE blog SET title = #{title}, markdown = #{markdown}, blogTypeId = #{blogTypeId}, tagId = #{tagId}, updateDate = #{updateDate}
        WHERE id = #{id} AND userId = #{userId}
    </update>

</mapper>