<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hzj.myblog.mapper.TagMapper">

    <!--    添加标签-->
    <insert id="addTag" parameterType="com.hzj.myblog.model.Tag">
        INSERT INTO tag(tagName, blogTypeId) value (#{tagName}, #{blogTypeId})
    </insert>

    <!--    删除标签-->
    <delete id="deleteTag" parameterType="java.lang.Integer">
        DELETE FROM tag WHERE id = #{id}
    </delete>

    <resultMap id="tagBlogType" type="com.hzj.myblog.entity.group.TagBlogTypeGroup">
        <id property="id" column="id"/>
        <result property="tagName" column="tagName"/>
        <result property="blogTypeId" column="blogTypeId"/>
        <association property="blogType" javaType="com.hzj.myblog.model.BlogType">
            <result property="id" column="blogTypeId"/>
            <result property="typeName" column="typeName"/>
        </association>
    </resultMap>

    <!--    查找所有的标签-->
    <select id="findAllTag" resultMap="tagBlogType">
        SELECT a.id, a.tagName, a.blogTypeId, b.typeName FROM tag as a inner join blogType b on a.blogTypeId = b.id
    </select>

    <!--    查找博客分类所对应的标签-->
    <select id="findTagByBlogTypeId" parameterType="java.lang.Integer" resultType="com.hzj.myblog.model.Tag">
        SELECT id, tagName, blogTypeId FROM tag WHERE blogTypeId = #{blogTypeId}
    </select>

    <resultMap id="tagWordCloud" type="com.hzj.myblog.entity.chart.TagWordCloud">
        <id property="tagId" column="id"/>
        <result property="value" column="account"/>
        <result property="name" column="tagName"/>
    </resultMap>

    <!--统计用户每个标签的数量-->
    <select id="tagOfBlogAccount" resultMap="tagWordCloud">
        SELECT id, tagName, COUNT(id) as account
        FROM tag inner join (SELECT tagId FROM blog WHERE userId = #{userId}) as a on tag.id = a.tagId
        group by id
    </select>

    <!--    更新标签信息-->
    <update id="updateTag" parameterType="com.hzj.myblog.model.Tag">
        UPDATE tag SET tagName = #{tagName}, blogTypeId = #{blogTypeId} WHERE id = #{id}
    </update>

</mapper>