<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hzj.myblog.mapper.UserMapper">
    <select id="findUserByAccountAndPassword" parameterType="com.hzj.myblog.entity.request.Login"
            resultType="com.hzj.myblog.model.User">
        SELECT userId, account, nickName, level FROM user WHERE account = #{account} AND password = #{password};
    </select>

    <select id="findAllUser" resultType="com.hzj.myblog.model.User">
        SELECT userId, account, nickName FROM user;
    </select>

    <select id="findUserByAccount" resultType="com.hzj.myblog.model.User">
        SELECT userId, account, nickName FROM user WHERE account = #{account}
    </select>

    <insert id="addUser">
        INSERT INTO user(account, password, nickName)  value (#{account}, #{password}, #{nickName})
    </insert>
</mapper>