<mat-toolbar class="mat-elevation-z3">
  <span class="title">
    <a routerLink="/">Angel</a>
  </span>
  <ul class="menu" *ngIf="!isLogin">
    <li class="menu-item">
      <a class="menu-link" routerLink="/user/login">登录</a>
    </li>
    <li class="menu-item">
      <a class="menu-link" routerLink="/user/register">注册</a>
    </li>
  </ul>
  <div *ngIf="isLogin">
    <div class="avatar-box" [matMenuTriggerFor]="menu">
      <img src="assets/img/avatar.jpg" alt="头像">
    </div>
    <mat-menu #menu>
      <button mat-menu-item (click)="quit()">退出登录</button>
    </mat-menu>
  </div>
</mat-toolbar>
<div class="toolbar"></div>

<router-outlet></router-outlet>


