<div mat-dialog-title>
  <div class="d-flex align-items-center justify-content-between mat-header">
    <span>{{dialogTitle}}</span>
    <!--    <div>-->
    <!--      <button mat-icon-button (click)="cancel()">-->
    <!--        <mat-icon svgIcon="baseline-close"></mat-icon>-->
    <!--      </button>-->
    <!--    </div>-->
  </div>
</div>
<mat-dialog-content>
  <ng-content></ng-content>
</mat-dialog-content>

<mat-dialog-actions class="dialog-action">
  <button mat-button type="button" (click)="cancel()">取消</button>
  <button mat-button *ngIf="isShowOk" (click)="handleOk()">确定</button>
</mat-dialog-actions>
