<div class="user-info-box">
  <img alt="背景图" class="background-img" src="./assets/img/banner.jpg">
  <img alt="头像" class="avatar" src="./assets/img/avatar.jpg" routerLink="/index/hzjangel">
  <div class="user-info-action">
    <div class="info">
      <div class="name">何志坚</div>
      <div class="motto">日积月累</div>
    </div>
    <div class="email">
      <button mat-button mat-icon-button matTooltip="1305696249@qq.com">
        <mat-icon>email</mat-icon>
      </button>
    </div>
  </div>
</div>
