<div class="container-box">
  <div class="information-box">
    <div class="avatar-box">
      <img src="assets/img/avatar.jpg" alt="头像">
    </div>
    <div class="name-box">
      <h2>
        <a routerLink="./index">何志坚</a>
      </h2>
      <p>个人站</p>
    </div>
    <p class="welcome">欢迎来到我的个人站~</p>
    <ul class="nav-box">
      <li class="nav-item">
        <a class="nav-link" routerLink="./index">博客主页</a>
      </li>
      <li class="nav-item">
        <a class="nav-link">简历</a>
      </li>
    </ul>
  </div>
  <div class="cover"></div>
</div>
