<div class="container-box">
  <div class="information-box" *ngIf="userInfo">
    <div class="avatar-box">
      <img [src]="avatar" alt="头像">
    </div>
    <div class="name-box">
      <h2>
        <a [routerLink]="['/blog', userInfo.nickName
        ]">{{userInfo.nickName}}</a>
      </h2>
      <p>我的主页</p>
    </div>
    <p class="welcome">欢迎来到我的个人主页~</p>
    <ul class="nav-box">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/blog', userInfo.nickName]">博客主页</a>
      </li>
<!--      <li class="nav-item" *ngIf="userInfo.userId === 1">-->
<!--        <a class="nav-link" routerLink="/resume">简历</a>-->
<!--      </li>-->
    </ul>
  </div>
  <div class="cover"></div>
</div>
<div class="section">
  <h1 class="my-product">我的作品</h1>
  <div class="product-box">
    <div class="card">
      <div class="card-content">
        <img alt="图片" [src]="productImgUrl[0]">
      </div>
      <div class="card-footer">
        <a *ngIf="userInfo" [routerLink]="['/blog', userInfo.nickName]">个人博客</a>
      </div>
    </div>
    <div class="card">
      <div class="card-content">
        <img alt="图片" [src]="productImgUrl[1]">
      </div>
      <div class="card-footer">
        <a href="http://123.57.226.35:4300/" target="_blank">markdown插件</a>
      </div>
    </div>
  </div>
  <h1 class="my-product">我的笔记</h1>
  <div class="product-box">
    <div class="card">
      <div class="card-content">
        <img alt="图片" [src]="productImgUrl[2]">
      </div>
      <div class="card-footer">
        <a href="http://123.57.226.35:4100/AngularStudy/" target="_blank">Angular学习笔记</a>
      </div>
    </div>
    <div class="card">
      <div class="card-content">
        <img alt="图片" [src]="productImgUrl[3]">
      </div>
      <div class="card-footer">
        <a href="http://123.57.226.35:4100/javaScriptStudy/" target="_blank">javaScript学习笔记</a>
      </div>
    </div>
    <div class="card">
      <div class="card-content">
        <img alt="图片" [src]="productImgUrl[4]">
      </div>
      <div class="card-footer">
        <a href="http://123.57.226.35:4100/SpringInActionStudy/" target="_blank">Java学习笔记</a>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
