button {
  outline: none;
}

.login-box {
  position: relative;
  overflow: hidden;
  min-height: 100vh;
  height: 100%;
  background-color: #eceef1;
}

.m-bg {
  position: absolute;
  left: 0;
  top: -364px;
  height: 1000px;
  width: 100%;
  -webkit-transform: skewY(-11deg);
  -moz-transform: skewY(-11deg);
  -ms-transform: skewY(-11deg);
  -o-transform: skewY(-11deg);
  transform: skewY(-11deg);
  background-image: linear-gradient(-20deg, #21d4fd, #b721ff);

  .m-bg-mask {
    position: absolute;
    height: 180px;
  }

  .m-bg-mask0 {
    bottom: 0;
    left: 0;
    width: 30%;
    background-image: linear-gradient(120deg, #6ab3fd, #8ba3fd 102%);
  }

  .m-bg-mask1 {
    bottom: 180px;
    right: 0;
    width: 36%;
    background-image: linear-gradient(120deg, #28c5f5, #6682fe);
  }

  .m-bg-mask2 {
    bottom: 540px;
    left: 0;
    width: 20%;
    height: 240px;
    background-image: linear-gradient(120deg, #8121ff, #5e5ef7);

  }

  .m-bg-mask3 {
    bottom: 540px;
    left: 20%;
    width: 70%;
    height: 240px;
    background-image: linear-gradient(-225deg, #5f2bff, #6088fe 48%, #22ccf6);
  }

}


.card-box {
  display: flex;
  justify-content: center;
  width: 100%;
  padding-top: 6%;

  .form-box {
    position: relative;
    padding: 1.5rem;
    width: 33%;
    background: #fff;
    z-index: 1;
    -webkit-border-radius: .4rem;
    -moz-border-radius: .4rem;
    border-radius: .4rem;


    mat-tab-group {
      margin-top: 3rem;
    }

    .login-form {
      width: 100%;
      padding-top: 3rem;

      mat-form-field {
        width: 100%;
      }

      .login-form-button {
        background-image: linear-gradient(90deg, #6d69fe 0, #48a0fa) !important;
        border: none;
        margin-top: .2rem;
        width: 100%;
        color: #fff;
        background-color: #2395f1;
        text-align: center;
        cursor: pointer;
        padding: .375rem .75rem;
        font-size: .9rem;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
        -webkit-transition: all .3s cubic-bezier(.645, .045, .355, 1);
        -moz-transition: all .3s cubic-bezier(.645, .045, .355, 1);
        -ms-transition: all .3s cubic-bezier(.645, .045, .355, 1);
        -o-transition: all .3s cubic-bezier(.645, .045, .355, 1);
        transition: all .3s cubic-bezier(.645, .045, .355, 1);
      }

    }
  }

  .login-logo {
    font-size: 0;
    position: absolute;
    left: 50%;
    top: 0;
    background-image: linear-gradient(-20deg, #21d4fd, #b721ff);
    -webkit-box-shadow: 0 4px 6px rgba(50, 50, 93, .11), 0 1px 3px rgba(0, 0, 0, .08);
    -moz-box-shadow: 0 4px 6px rgba(50, 50, 93, .11), 0 1px 3px rgba(0, 0, 0, .08);
    box-shadow: 0 4px 6px rgba(50, 50, 93, .11), 0 1px 3px rgba(0, 0, 0, .08);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    padding: 1rem;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;

    .svg {
      //-webkit-transform: rotate(360deg);
      -webkit-animation: spin 5s linear infinite;
      -o-animation: spin 5s linear infinite;
      animation: spin 5s linear infinite;
    }
  }

  .forget-password {
    margin-bottom: .5rem;
    cursor: pointer;

    &:hover {
      color: #007fff;
    }
  }

  .register-btn {
    margin-bottom: 1rem;
  }

}

:host ::ng-deep {
  .mat-raised-button {
    line-height: 28px;
  }
}

@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}

// Large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) {

  .card-box {
    .form-box {
      width: 45%;
    }
  }

}

// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) {

  .card-box {
    .form-box {
      width: 55%;
    }
  }
}

// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) {
  .card-box {
    .form-box {
      width: 65%;
    }
  }
}

// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {

  .card-box {
    .form-box {
      width: 75%;
    }
  }


}
