$color: red;

mat-toolbar {
  position: sticky;

  top: 0;
  justify-content: space-between;
  background: #1976d2;
  z-index: 3;
  width: 100%;

  .title {

    display: flex;
    align-items: center;

    .menu {
      color: #ffffff;
      //margin-right: .5rem;
    }

    a {
      color: #ffffff;
      text-decoration: none;
    }
  }
}

.toolbar {
  height: 64px;
  width: 100%;
}

.header-left {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  flex: 1;

  form {
    color: #ffffff;
    padding-right: 1rem;
    display: flex;
    align-items: center;
    height: 100%;
  }

  .search-input {
    color: #444;
    border: none;
    border-radius: 100px;
    background-color: #fff;
    padding: 0 16px;
    margin-left: 8px;
    width: 180px;
    max-width: 240px;
    height: 50%;
    line-height: 2.4rem;
    -webkit-appearance: none;
    transition: width .4s ease-in-out;
    outline: none;

    &:focus {
      width: 250px;
    }
  }
}

.toolbar {
  height: 64px;
  width: 100%;
}

.nav-bar {
  list-style: none;
  display: flex;
  padding-right: 1rem;


  .nav-link {
    font-size: 1rem;
    padding: 0 .5rem;
    color: #ffffff;
    text-decoration: none;

    &:hover {
      color: #ea6f5a;
    }
  }
}

.avatar-box {
  width: 45px;
  height: 45px;
  cursor: pointer;

  img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
  }
}


