<mat-toolbar class="mat-elevation-z3">
  <div class="header-left">
    <div class="title">
      <button *ngIf="showMenu" mat-icon-button class="menu" (click)="menuPress.emit()">
        <mat-icon>menu</mat-icon>
      </button>
      <a *ngIf="userInfo" [routerLink]="['/blog', nickName]">Angel</a>
    </div>
    <form [formGroup]="formGroup" (ngSubmit)="search()">
      <input class="search-input" placeholder="输入搜索内容" formControlName="search">
    </form>
  </div>

<!--  <ul class="nav-bar" *ngIf="!isLogin">-->
<!--    <li class="nav-item">-->
<!--      <a class="nav-link" routerLink="/user/login">登录</a>-->
<!--    </li>-->
<!--    <li class="nav-item">-->
<!--      <a class="nav-link" routerLink="/user/register">注册</a>-->
<!--    </li>-->
<!--  </ul>-->
  <div *ngIf="isLogin">
    <div class="avatar-box" [matMenuTriggerFor]="menu">
      <img src="assets/img/avatar.jpg" alt="头像">
    </div>
    <mat-menu #menu>
      <button mat-menu-item routerLink="/admin/article">后台管理</button>
      <button mat-menu-item (click)="quit()">退出登录</button>
    </mat-menu>
  </div>
</mat-toolbar>
<!--<div class="toolbar"></div>-->
