<footer>
  <div class="information">
    <div class="name">何志坚</div>
    <p>今天很残忍,明天很残酷,但后天很美好</p>
    <button mat-button>
      <a href="https://hezhijian.oss-cn-beijing.aliyuncs.com/%E4%BD%95%E5%BF%97%E5%9D%9A-%E5%89%8D%E7%AB%AF%E5%BC%80%E5%8F%91%E5%B7%A5%E7%A8%8B%E5%B8%88-1305696249%40qq.com.pdf" target="_blank">About Me</a>
    </button>
  </div>
<!--  <div class="about-link">-->
<!--    <div>相关链接</div>-->
<!--  </div>-->
  <div class="call-me">
    <div>联系我</div>
    <p>QQ: 1305696249</p>
    <p>邮箱: 1305696249@qq.com</p>
  </div>
</footer>
